:root {
	--primary-color: #007bff;
	--primary-hover: #0056b3;
	--text-color: #fff;
	--border-color: #ccc;
	--label-color: gray;
	--radius: 5px;
	--font: Arial, Helvetica, sans-serif;
	--padding: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font);
	width: 300px;
	padding: 20px;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: var(--primary-color);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-container {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.input-container label {
	color: var(--label-color);
	margin-bottom: 5px;
}

textarea,
input[type="time"],
input[type="text"] {
	width: 100%;
	font-size: 16px;
	padding: var(--padding);
	border: 1px solid var(--border-color);
	border-radius: var(--radius);
}

textarea {
	height: 100px;
	resize: none;
}

textarea:focus,
input[type="time"]:focus,
input[type="text"]:focus {
	border-color: var(--primary-color);
	outline: none;
}

.time-container {
	display: flex;
	width: 100%;
	gap: 10px;
	margin-bottom: 10px;
}

button {
	border-radius: var(--radius);
	background-color: var(--primary-color);
	border: none;
	color: var(--text-color);
	padding: var(--padding) 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: var(--primary-hover);
}

#status {
	color: green;
	font-weight: bold;
	margin-top: 10px;
}

.add-current-site-container {
	display: flex;
	width: 100%;
}

.add-current-site-container input[type="text"] {
	border-radius: var(--radius) 0 0 var(--radius);
}

.add-current-site-container button {
	border-radius: 0 var(--radius) var(--radius) 0;
	border: 1px solid var(--border-color);
	background-color: var(--text-color);
	color: black;
}
.add-current-site-container button:hover {
	background-color: #f2f2f2;
}
